[submodule "sw/libopencm3"]
	path = sw/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "sw/microrl"]
	path = sw/microrl
	url = git@github.com:area3001/microrl.git
[submodule "sw/mini-printf"]
	path = sw/mini-printf
	url = https://github.com/mludvig/mini-printf.git
